In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("D:/Downloads/March gst.CSV")
print(data)

          Date      Time Time zone                       Name  \
0   04/03/2024  10:46:34       IST               jayden haigh
1   05/03/2024  04:18:53       IST                        NaN
2   05/03/2024  04:18:53       IST                        NaN
3   05/03/2024  04:18:53       IST                        NaN
4   06/03/2024  00:25:24       IST                Naomi Vance
5   07/03/2024  04:28:21       IST                        NaN
6   07/03/2024  04:28:21       IST                        NaN
7   07/03/2024  04:28:21       IST                        NaN
8   07/03/2024  07:38:33       IST                      Tietq
9   08/03/2024  03:32:57       IST               Gregory Hack
10  08/03/2024  04:56:55       IST                        NaN
11  08/03/2024  04:56:55       IST                        NaN
12  08/03/2024  04:56:55       IST                        NaN
13  09/03/2024  04:33:17       IST           sophie laplanche
14  09/03/2024  05:06:40       IST                        NaN
15  09/03/2024  05:06:40       IST                        NaN
16  09/03/2024  05:06:40       IST                        NaN
17  09/03/2024  16:39:01       IST            Merlin Yasimova
18  10/03/2024  04:44:32       IST                        NaN
19  10/03/2024  04:44:32       IST                        NaN
20  10/03/2024  04:44:32       IST                        NaN
21  10/03/2024  22:12:55       IST              Scott Buckner
22  11/03/2024  04:00:49       IST                        NaN
23  11/03/2024  04:00:49       IST                        NaN
24  11/03/2024  04:00:49       IST                        NaN
25  11/03/2024  04:24:20       IST              Anne Yorgason
26  12/03/2024  04:17:55       IST                        NaN
27  12/03/2024  04:17:55       IST                        NaN
28  12/03/2024  04:17:55       IST                        NaN
29  17/03/2024  23:38:05       IST              Robert Kreutz
30  18/03/2024  04:11:52       IST                        NaN
31  18/03/2024  04:11:52       IST                        NaN
32  18/03/2024  04:11:52       IST                        NaN
33  18/03/2024  08:12:42       IST         Kassandra Schrader
34  19/03/2024  03:47:36       IST                        NaN
35  19/03/2024  03:47:36       IST                        NaN
36  19/03/2024  03:47:36       IST                        NaN
37  19/03/2024  19:37:41       IST             Sharon Baldwin
38  20/03/2024  04:19:19       IST                        NaN
39  20/03/2024  04:19:19       IST                        NaN
40  20/03/2024  04:19:19       IST                        NaN
41  20/03/2024  04:45:05       IST              Lorna Edwards
42  21/03/2024  04:00:34       IST                        NaN
43  21/03/2024  04:00:34       IST                        NaN
44  21/03/2024  04:00:34       IST                        NaN
45  22/03/2024  19:29:44       IST  nihmathullah endaruthenne
46  22/03/2024  19:29:44       IST                        NaN
47  22/03/2024  19:29:44       IST                        NaN
48  22/03/2024  19:29:44       IST                        NaN
49  25/03/2024  20:36:29       IST                 Erin Smith
50  26/03/2024  04:29:57       IST                        NaN
51  26/03/2024  04:29:57       IST                        NaN
52  26/03/2024  04:29:57       IST                        NaN
53  26/03/2024  08:21:55       IST              Aneela Mahmud
54  27/03/2024  04:03:16       IST                        NaN
55  27/03/2024  04:03:16       IST                        NaN
56  27/03/2024  04:03:16       IST                        NaN
57  31/03/2024  05:23:36       IST              Urban Artists
58  31/03/2024  19:20:18       IST                   tahiya m

                           Type     Status Currency      Gross   Fee  \
0      Express Checkout Payment  Completed      USD      34.96 -2.17
1     User Initiated Withdrawal  Completed      INR  -2,619.54  0.00
2   General Currency Conversion  Completed      USD     -32.79  0.00
3   General Currency Conversion  Completed      INR   2,619.54  0.00
4      Express Checkout Payment  Completed      USD      32.63 -2.05
5     User Initiated Withdrawal  Completed      INR  -2,441.28  0.00
6   General Currency Conversion  Completed      USD     -30.58  0.00
7   General Currency Conversion  Completed      INR   2,441.28  0.00
8      Express Checkout Payment  Completed      USD      32.65 -2.05
9      Express Checkout Payment  Completed      USD      33.11 -2.08
10    User Initiated Withdrawal  Completed      INR  -2,438.96  0.00
11  General Currency Conversion  Completed      USD     -30.60  0.00
12  General Currency Conversion  Completed      INR   2,438.96  0.00
13     Express Checkout Payment  Completed      USD      36.96 -2.28
14    User Initiated Withdrawal  Completed      INR  -2,473.50  0.00
15  General Currency Conversion  Completed      USD     -31.03  0.00
16  General Currency Conversion  Completed      INR   2,473.50  0.00
17     Express Checkout Payment  Completed      USD      64.68 -3.72
18    User Initiated Withdrawal  Completed      INR  -7,624.15  0.00
19  General Currency Conversion  Completed      USD     -95.64  0.00
20  General Currency Conversion  Completed      INR   7,624.15  0.00
21     Express Checkout Payment  Completed      USD      32.96 -2.07
22    User Initiated Withdrawal  Completed      INR  -2,462.34  0.00
23  General Currency Conversion  Completed      USD     -30.89  0.00
24  General Currency Conversion  Completed      INR   2,462.34  0.00
25     Express Checkout Payment  Completed      USD      31.91 -2.01
26    User Initiated Withdrawal  Completed      INR  -2,383.65  0.00
27  General Currency Conversion  Completed      USD     -29.90  0.00
28  General Currency Conversion  Completed      INR   2,383.65  0.00
29     Express Checkout Payment  Completed      USD      46.62 -2.77
30    User Initiated Withdrawal  Completed      INR  -3,502.42  0.00
31  General Currency Conversion  Completed      USD     -43.85  0.00
32  General Currency Conversion  Completed      INR   3,502.42  0.00
33     Express Checkout Payment  Completed      USD      31.16 -1.97
34    User Initiated Withdrawal  Completed      INR  -2,331.83  0.00
35  General Currency Conversion  Completed      USD     -29.19  0.00
36  General Currency Conversion  Completed      INR   2,331.83  0.00
37     Express Checkout Payment  Completed      USD      34.44 -2.15
38    User Initiated Withdrawal  Completed      INR  -2,581.74  0.00
39  General Currency Conversion  Completed      USD     -32.29  0.00
40  General Currency Conversion  Completed      INR   2,581.74  0.00
41     Express Checkout Payment  Completed      USD      33.96 -2.11
42    User Initiated Withdrawal  Completed      INR  -2,549.55  0.00
43  General Currency Conversion  Completed      USD     -31.85  0.00
44  General Currency Conversion  Completed      INR   2,549.55  0.00
45              General Payment  Completed      USD     -15.00  0.00
46  General Credit Card Deposit  Completed      INR   1,310.30  0.00
47  General Currency Conversion  Completed      INR  -1,310.30  0.00
48  General Currency Conversion  Completed      USD      15.00  0.00
49     Express Checkout Payment  Completed      USD      28.70 -1.84
50    User Initiated Withdrawal  Completed      INR  -2,159.59  0.00
51  General Currency Conversion  Completed      USD     -26.86  0.00
52  General Currency Conversion  Completed      INR   2,159.59  0.00
53     Express Checkout Payment  Completed      USD      27.24 -1.77
54    User Initiated Withdrawal  Completed      INR  -2,044.80  0.00
55  General Currency Conversion  Completed      USD     -25.47  0.00
56  General Currency Conversion  Completed      INR   2,044.80  0.00
57     Express Checkout Payment  Completed      USD      31.07 -1.97
58     Express Checkout Payment  Completed      USD      31.08 -1.97

          Net  ... Address Line 2/District/Neighbourhood        Town/City  \
0       32.79  ...                                   NaN           BOSTON
1   -2,619.54  ...                                   NaN              NaN
2      -32.79  ...                                   NaN              NaN
3    2,619.54  ...                                   NaN              NaN
4       30.58  ...                                   NaN           LONOKE
5   -2,441.28  ...                                   NaN              NaN
6      -30.58  ...                                   NaN              NaN
7    2,441.28  ...                                   NaN              NaN
8       30.60  ...                                   NaN        Baltimore
9       31.03  ...                                   NaN      Tarragindie
10  -2,438.96  ...                                   NaN              NaN
11     -30.60  ...                                   NaN              NaN
12   2,438.96  ...                                   NaN              NaN
13      34.68  ...                6-8 rue gustave eiffel         MORANGIS
14  -2,473.50  ...                                   NaN              NaN
15     -31.03  ...                                   NaN              NaN
16   2,473.50  ...                                   NaN              NaN
17      60.96  ...                                   NaN          Romford
18  -7,624.15  ...                                   NaN              NaN
19     -95.64  ...                                   NaN              NaN
20   7,624.15  ...                                   NaN              NaN
21      30.89  ...                                   NaN      Summerfield
22  -2,462.34  ...                                   NaN              NaN
23     -30.89  ...                                   NaN              NaN
24   2,462.34  ...                                   NaN              NaN
25      29.90  ...                            PO Box 281            Boise
26  -2,383.65  ...                                   NaN              NaN
27     -29.90  ...                                   NaN              NaN
28   2,383.65  ...                                   NaN              NaN
29      43.85  ...                                   NaN  University City
30  -3,502.42  ...                                   NaN              NaN
31     -43.85  ...                                   NaN              NaN
32   3,502.42  ...                                   NaN              NaN
33      29.19  ...                                   NaN         Muskegon
34  -2,331.83  ...                                   NaN              NaN
35     -29.19  ...                                   NaN              NaN
36   2,331.83  ...                                   NaN              NaN
37      32.29  ...                           Walderslade          Chatham
38  -2,581.74  ...                                   NaN              NaN
39     -32.29  ...                                   NaN              NaN
40   2,581.74  ...                                   NaN              NaN
41      31.85  ...                                   NaN        Livermore
42  -2,549.55  ...                                   NaN              NaN
43     -31.85  ...                                   NaN              NaN
44   2,549.55  ...                                   NaN              NaN
45     -15.00  ...                                   NaN           Jaipur
46   1,310.30  ...                                   NaN              NaN
47  -1,310.30  ...                                   NaN              NaN
48      15.00  ...                                   NaN              NaN
49      26.86  ...                                   NaN      Thunder Bay
50  -2,159.59  ...                                   NaN              NaN
51     -26.86  ...                                   NaN              NaN
52   2,159.59  ...                                   NaN              NaN
53      25.47  ...                                   NaN           Peoria
54  -2,044.80  ...                                   NaN              NaN
55     -25.47  ...                                   NaN              NaN
56   2,044.80  ...                                   NaN              NaN
57      29.10  ...                                   NaN         Bellaire
58      29.11  ...                                   NaN   Wellingborough

       County    Postcode         Country Contact Phone Number  \
0          MA       02196   United States                  NaN
1         NaN         NaN             NaN                  NaN
2         NaN         NaN             NaN                  NaN
3         NaN         NaN             NaN                  NaN
4          AR       72086   United States         5.016072e+09
5         NaN         NaN             NaN                  NaN
6         NaN         NaN             NaN                  NaN
7         NaN         NaN             NaN                  NaN
8          MD       21211   United States         4.107470e+09
9         QLD        4121       Australia         4.131045e+08
10        NaN         NaN             NaN                  NaN
11        NaN         NaN             NaN                  NaN
12        NaN         NaN             NaN                  NaN
13        NaN       91420          France         6.607711e+08
14        NaN         NaN             NaN                  NaN
15        NaN         NaN             NaN                  NaN
16        NaN         NaN             NaN                  NaN
17        NaN     Rm5 3bs  United Kingdom         7.443090e+09
18        NaN         NaN             NaN                  NaN
19        NaN         NaN             NaN                  NaN
20        NaN         NaN             NaN                  NaN
21         FL       34491   United States                  NaN
22        NaN         NaN             NaN                  NaN
23        NaN         NaN             NaN                  NaN
24        NaN         NaN             NaN                  NaN
25         ID  83706-3038   United States                  NaN
26        NaN         NaN             NaN                  NaN
27        NaN         NaN             NaN                  NaN
28        NaN         NaN             NaN                  NaN
29         MO  63130-3717   United States                  NaN
30        NaN         NaN             NaN                  NaN
31        NaN         NaN             NaN                  NaN
32        NaN         NaN             NaN                  NaN
33         MI       49442   United States         6.164228e+09
34        NaN         NaN             NaN                  NaN
35        NaN         NaN             NaN                  NaN
36        NaN         NaN             NaN                  NaN
37        ENG      ME50NL  United Kingdom         7.751476e+09
38        NaN         NaN             NaN                  NaN
39        NaN         NaN             NaN                  NaN
40        NaN         NaN             NaN                  NaN
41         CA       94551   United States         9.255190e+09
42        NaN         NaN             NaN                  NaN
43        NaN         NaN             NaN                  NaN
44        NaN         NaN             NaN                  NaN
45  Rajasthan      302002           India                  NaN
46        NaN         NaN             NaN                  NaN
47        NaN         NaN             NaN                  NaN
48        NaN         NaN             NaN                  NaN
49    Ontario      P7B6H3          Canada         8.077084e+09
50        NaN         NaN             NaN                  NaN
51        NaN         NaN             NaN                  NaN
52        NaN         NaN             NaN                  NaN
53         AZ       85383   United States                  NaN
54        NaN         NaN             NaN                  NaN
55        NaN         NaN             NaN                  NaN
56        NaN         NaN             NaN                  NaN
57         TX       77401   United States         7.134105e+09
58        NaN     NN8 3EJ  United Kingdom         7.908934e+09

                                              Subject  Note  Country Code  \
0   Sterling Silver blue sapphire ring For Women/ ...   NaN            US
1                                               P0101   NaN           NaN
2                                                 NaN   NaN           NaN
3                                                 NaN   NaN           NaN
4   CZ created blue sapphire ring / Dainty Sapphir...   NaN            US
5                                               P0101   NaN           NaN
6                                                 NaN   NaN           NaN
7                                                 NaN   NaN           NaN
8   Natural Yellow sapphire ring For Women / Sapph...   NaN            US
9   Natural Garnet Ring For Women/AAA Quality Garn...   NaN            AU
10                                              P0101   NaN           NaN
11                                                NaN   NaN           NaN
12                                                NaN   NaN           NaN
13  Anneau de grenat naturel / Anneau de grenat ré...   NaN            FR
14                                              P0101   NaN           NaN
15                                                NaN   NaN           NaN
16                                                NaN   NaN           NaN
17  Natural Emerald Ring, Stackable Ring, Minimali...   NaN            GB
18                                              P0101   NaN           NaN
19                                                NaN   NaN           NaN
20                                                NaN   NaN           NaN
21  Sterling Silver Natural Rainbow Moonstone Ring...   NaN            US
22                                              P0101   NaN           NaN
23                                                NaN   NaN           NaN
24                                                NaN   NaN           NaN
25  Natural Garnet Ring For Women/AAA Quality Garn...   NaN            US
26                                              P0101   NaN           NaN
27                                                NaN   NaN           NaN
28                                                NaN   NaN           NaN
29  Octagon Cut Amethyst 925 Silver Ring For Men, ...   NaN            US
30                                              P0101   NaN           NaN
31                                                NaN   NaN           NaN
32                                                NaN   NaN           NaN
33  CZ created blue sapphire ring / Dainty Sapphir...   NaN            US
34                                              P0101   NaN           NaN
35                                                NaN   NaN           NaN
36                                                NaN   NaN           NaN
37  Natural Black Pearl Ring , Fresh Water Pearl R...   NaN            GB
38                                              P0101   NaN           NaN
39                                                NaN   NaN           NaN
40                                                NaN   NaN           NaN
41  Sterling Silver Natural Rainbow Moonstone Ring...   NaN            US
42                                              P0101   NaN           NaN
43                                                NaN   NaN           NaN
44                                                NaN   NaN           NaN
45                                                NaN   NaN            IN
46                                                NaN   NaN           NaN
47                                                NaN   NaN           NaN
48                                                NaN   NaN           NaN
49  Natural Moonstone Ring For Women With Cut Ston...   NaN            CA
50                                              P0101   NaN           NaN

In [4]:
print(data.duplicated())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50    False
51    False
52    False
53    False
54    False
55    False
56    False
57    False
58    False
dtype: bool

In [5]:
print(data["Time"].duplicated().sum()) #find duplicate value from column

29

In [6]:
print(data.drop_duplicates("Time")) #remove duplicate value from given column

          Date      Time Time zone                       Name  \
0   04/03/2024  10:46:34       IST               jayden haigh
1   05/03/2024  04:18:53       IST                        NaN
4   06/03/2024  00:25:24       IST                Naomi Vance
5   07/03/2024  04:28:21       IST                        NaN
8   07/03/2024  07:38:33       IST                      Tietq
9   08/03/2024  03:32:57       IST               Gregory Hack
10  08/03/2024  04:56:55       IST                        NaN
13  09/03/2024  04:33:17       IST           sophie laplanche
14  09/03/2024  05:06:40       IST                        NaN
17  09/03/2024  16:39:01       IST            Merlin Yasimova
18  10/03/2024  04:44:32       IST                        NaN
21  10/03/2024  22:12:55       IST              Scott Buckner
22  11/03/2024  04:00:49       IST                        NaN
25  11/03/2024  04:24:20       IST              Anne Yorgason
26  12/03/2024  04:17:55       IST                        NaN
29  17/03/2024  23:38:05       IST              Robert Kreutz
30  18/03/2024  04:11:52       IST                        NaN
33  18/03/2024  08:12:42       IST         Kassandra Schrader
34  19/03/2024  03:47:36       IST                        NaN
37  19/03/2024  19:37:41       IST             Sharon Baldwin
38  20/03/2024  04:19:19       IST                        NaN
41  20/03/2024  04:45:05       IST              Lorna Edwards
42  21/03/2024  04:00:34       IST                        NaN
45  22/03/2024  19:29:44       IST  nihmathullah endaruthenne
49  25/03/2024  20:36:29       IST                 Erin Smith
50  26/03/2024  04:29:57       IST                        NaN
53  26/03/2024  08:21:55       IST              Aneela Mahmud
54  27/03/2024  04:03:16       IST                        NaN
57  31/03/2024  05:23:36       IST              Urban Artists
58  31/03/2024  19:20:18       IST                   tahiya m

                         Type     Status Currency      Gross   Fee        Net  \
0    Express Checkout Payment  Completed      USD      34.96 -2.17      32.79
1   User Initiated Withdrawal  Completed      INR  -2,619.54  0.00  -2,619.54
4    Express Checkout Payment  Completed      USD      32.63 -2.05      30.58
5   User Initiated Withdrawal  Completed      INR  -2,441.28  0.00  -2,441.28
8    Express Checkout Payment  Completed      USD      32.65 -2.05      30.60
9    Express Checkout Payment  Completed      USD      33.11 -2.08      31.03
10  User Initiated Withdrawal  Completed      INR  -2,438.96  0.00  -2,438.96
13   Express Checkout Payment  Completed      USD      36.96 -2.28      34.68
14  User Initiated Withdrawal  Completed      INR  -2,473.50  0.00  -2,473.50
17   Express Checkout Payment  Completed      USD      64.68 -3.72      60.96
18  User Initiated Withdrawal  Completed      INR  -7,624.15  0.00  -7,624.15
21   Express Checkout Payment  Completed      USD      32.96 -2.07      30.89
22  User Initiated Withdrawal  Completed      INR  -2,462.34  0.00  -2,462.34
25   Express Checkout Payment  Completed      USD      31.91 -2.01      29.90
26  User Initiated Withdrawal  Completed      INR  -2,383.65  0.00  -2,383.65
29   Express Checkout Payment  Completed      USD      46.62 -2.77      43.85
30  User Initiated Withdrawal  Completed      INR  -3,502.42  0.00  -3,502.42
33   Express Checkout Payment  Completed      USD      31.16 -1.97      29.19
34  User Initiated Withdrawal  Completed      INR  -2,331.83  0.00  -2,331.83
37   Express Checkout Payment  Completed      USD      34.44 -2.15      32.29
38  User Initiated Withdrawal  Completed      INR  -2,581.74  0.00  -2,581.74
41   Express Checkout Payment  Completed      USD      33.96 -2.11      31.85
42  User Initiated Withdrawal  Completed      INR  -2,549.55  0.00  -2,549.55
45            General Payment  Completed      USD     -15.00  0.00     -15.00
49   Express Checkout Payment  Completed      USD      28.70 -1.84      26.86
50  User Initiated Withdrawal  Completed      INR  -2,159.59  0.00  -2,159.59
53   Express Checkout Payment  Completed      USD      27.24 -1.77      25.47
54  User Initiated Withdrawal  Completed      INR  -2,044.80  0.00  -2,044.80
57   Express Checkout Payment  Completed      USD      31.07 -1.97      29.10
58   Express Checkout Payment  Completed      USD      31.08 -1.97      29.11

    ... Address Line 2/District/Neighbourhood        Town/City     County  \
0   ...                                   NaN           BOSTON         MA
1   ...                                   NaN              NaN        NaN
4   ...                                   NaN           LONOKE         AR
5   ...                                   NaN              NaN        NaN
8   ...                                   NaN        Baltimore         MD
9   ...                                   NaN      Tarragindie        QLD
10  ...                                   NaN              NaN        NaN
13  ...                6-8 rue gustave eiffel         MORANGIS        NaN
14  ...                                   NaN              NaN        NaN
17  ...                                   NaN          Romford        NaN
18  ...                                   NaN              NaN        NaN
21  ...                                   NaN      Summerfield         FL
22  ...                                   NaN              NaN        NaN
25  ...                            PO Box 281            Boise         ID
26  ...                                   NaN              NaN        NaN
29  ...                                   NaN  University City         MO
30  ...                                   NaN              NaN        NaN
33  ...                                   NaN         Muskegon         MI
34  ...                                   NaN              NaN        NaN
37  ...                           Walderslade          Chatham        ENG
38  ...                                   NaN              NaN        NaN
41  ...                                   NaN        Livermore         CA
42  ...                                   NaN              NaN        NaN
45  ...                                   NaN           Jaipur  Rajasthan
49  ...                                   NaN      Thunder Bay    Ontario
50  ...                                   NaN              NaN        NaN
53  ...                                   NaN           Peoria         AZ
54  ...                                   NaN              NaN        NaN
57  ...                                   NaN         Bellaire         TX
58  ...                                   NaN   Wellingborough        NaN

      Postcode         Country Contact Phone Number  \
0        02196   United States                  NaN
1          NaN             NaN                  NaN
4        72086   United States         5.016072e+09
5          NaN             NaN                  NaN
8        21211   United States         4.107470e+09
9         4121       Australia         4.131045e+08
10         NaN             NaN                  NaN
13       91420          France         6.607711e+08
14         NaN             NaN                  NaN
17     Rm5 3bs  United Kingdom         7.443090e+09
18         NaN             NaN                  NaN
21       34491   United States                  NaN
22         NaN             NaN                  NaN
25  83706-3038   United States                  NaN
26         NaN             NaN                  NaN
29  63130-3717   United States                  NaN
30         NaN             NaN                  NaN
33       49442   United States         6.164228e+09
34         NaN             NaN                  NaN
37      ME50NL  United Kingdom         7.751476e+09
38         NaN             NaN                  NaN
41       94551   United States         9.255190e+09
42         NaN             NaN                  NaN
45      302002           India                  NaN
49      P7B6H3          Canada         8.077084e+09
50         NaN             NaN                  NaN
53       85383   United States                  NaN
54         NaN             NaN                  NaN
57       77401   United States         7.134105e+09
58     NN8 3EJ  United Kingdom         7.908934e+09

                                              Subject  Note  Country Code  \
0   Sterling Silver blue sapphire ring For Women/ ...   NaN            US
1                                               P0101   NaN           NaN
4   CZ created blue sapphire ring / Dainty Sapphir...   NaN            US
5                                               P0101   NaN           NaN
8   Natural Yellow sapphire ring For Women / Sapph...   NaN            US
9   Natural Garnet Ring For Women/AAA Quality Garn...   NaN            AU
10                                              P0101   NaN           NaN
13  Anneau de grenat naturel / Anneau de grenat ré...   NaN            FR
14                                              P0101   NaN           NaN
17  Natural Emerald Ring, Stackable Ring, Minimali...   NaN            GB
18                                              P0101   NaN           NaN
21  Sterling Silver Natural Rainbow Moonstone Ring...   NaN            US
22                                              P0101   NaN           NaN
25  Natural Garnet Ring For Women/AAA Quality Garn...   NaN            US
26                                              P0101   NaN           NaN
29  Octagon Cut Amethyst 925 Silver Ring For Men, ...   NaN            US
30                                              P0101   NaN           NaN
33  CZ created blue sapphire ring / Dainty Sapphir...   NaN            US
34                                              P0101   NaN           NaN
37  Natural Black Pearl Ring , Fresh Water Pearl R...   NaN            GB
38                                              P0101   NaN           NaN
41  Sterling Silver Natural Rainbow Moonstone Ring...   NaN            US
42                                              P0101   NaN           NaN
45                                                NaN   NaN            IN
49  Natural Moonstone Ring For Women With Cut Ston...   NaN            CA
50                                              P0101   NaN           NaN
53  Sterling Silver FreshWater Pearl Ring, Dainty ...   NaN            US
54                                              P0101   NaN           NaN
57  London Blue Topaz  Ring for women ,Dainty Ring...   NaN            US
58  Sterling Silver Lab Ruby Ring, Art Deco Ring,H...   NaN            GB

    Balance Impact
0           Credit
1            Debit
4           Credit
5            Debit
8           Credit
9           Credit
10           Debit
13          Credit
14           Debit
17          Credit
18           Debit
21          Credit
22           Debit
25          Credit
26           Debit
29          Credit
30           Debit
33          Credit
34           Debit
37          Credit
38           Debit
41          Credit
42           Debit
45           Debit
49          Credit
50           Debit
53          Credit
54           Debit
57          Credit
58          Credit

[30 rows x 41 columns]