In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("D:/Downloads/Nov Gst.CSV")
print(data)

                                                 Date      Time  \
0                                           11/2/2023  19:51:21
1                                           11/2/2023  20:19:56
2                                           11/3/2023  03:23:34
3                                           11/3/2023  06:06:00
4                                           11/4/2023  03:08:44
5                                          11/14/2023  22:13:10
6                                          11/15/2023  05:00:47
7                                          11/19/2023  20:57:22
8                                          11/20/2023  05:08:30
9                                          11/23/2023  20:29:00
10                                         11/24/2023  04:15:04
11                                         11/25/2023  04:00:04
12                                         11/25/2023  05:02:08
13                                         11/26/2023  04:12:17
14                                         11/27/2023  10:25:33
15                                         11/28/2023  05:27:44
16                                         11/28/2023  12:22:35
17                                         11/28/2023  16:11:47
18                                         11/29/2023  04:42:29
19                                         11/29/2023  07:08:26
20                                         11/30/2023  04:43:32
21                                         11/30/2023  15:13:43
22                                          12/1/2023  05:27:15
23                                          11/3/2023  03:23:34
24                                          11/3/2023  03:23:34
25                                          11/4/2023  03:08:44
26                                          11/4/2023  03:08:44
27                                         11/15/2023  05:00:47
28                                         11/15/2023  05:00:47
29                                         11/20/2023  05:08:30
30                                         11/20/2023  05:08:30
31                                         11/24/2023  04:15:04
32                                         11/24/2023  04:15:04
33                                         11/26/2023  04:12:17
34                                         11/26/2023  04:12:17
35                                         11/28/2023  05:27:44
36                                         11/28/2023  05:27:44
37                                         11/29/2023  04:42:29
38                                         11/29/2023  04:42:29
39                                         11/30/2023  04:43:32
40                                         11/30/2023  04:43:32
41                                          12/1/2023  05:27:15
42                                          12/1/2023  05:27:15
43  Note: The amounts shown in this report are rou...       NaN

        Time Zone                        Description Currency       Gross  \
0   Asia/Calcutta           Express Checkout Payment      USD       24.36
1   Asia/Calcutta           Express Checkout Payment      USD       35.53
2   Asia/Calcutta        General Currency Conversion      USD      -56.07
3   Asia/Calcutta           Express Checkout Payment      USD       30.91
4   Asia/Calcutta        General Currency Conversion      USD      -28.95
5   Asia/Calcutta           Express Checkout Payment      USD       35.02
6   Asia/Calcutta        General Currency Conversion      USD      -32.85
7   Asia/Calcutta           Express Checkout Payment      USD       27.45
8   Asia/Calcutta        General Currency Conversion      USD      -25.67
9   Asia/Calcutta           Express Checkout Payment      USD       34.99
10  Asia/Calcutta        General Currency Conversion      USD      -32.82
11  Asia/Calcutta           Express Checkout Payment      USD       32.21
12  Asia/Calcutta           Express Checkout Payment      USD      100.41
13  Asia/Calcutta        General Currency Conversion      USD     -125.02
14  Asia/Calcutta           Express Checkout Payment      USD       37.80
15  Asia/Calcutta        General Currency Conversion      USD      -35.49
16  Asia/Calcutta           Express Checkout Payment      USD       28.83
17  Asia/Calcutta           Express Checkout Payment      USD       35.28
18  Asia/Calcutta        General Currency Conversion      USD      -60.08
19  Asia/Calcutta           Express Checkout Payment      USD       25.15
20  Asia/Calcutta        General Currency Conversion      USD      -23.49
21  Asia/Calcutta           Express Checkout Payment      USD       41.86
22  Asia/Calcutta        General Currency Conversion      USD      -39.33
23  Asia/Calcutta  General Withdrawal - Bank Account      INR   -4,498.07
24  Asia/Calcutta        General Currency Conversion      INR    4,498.07
25  Asia/Calcutta  General Withdrawal - Bank Account      INR   -2,320.85
26  Asia/Calcutta        General Currency Conversion      INR    2,320.85
27  Asia/Calcutta  General Withdrawal - Bank Account      INR   -2,626.55
28  Asia/Calcutta        General Currency Conversion      INR    2,626.55
29  Asia/Calcutta          User Initiated Withdrawal      INR   -2,058.90
30  Asia/Calcutta        General Currency Conversion      INR    2,058.90
31  Asia/Calcutta          User Initiated Withdrawal      INR   -2,635.27
32  Asia/Calcutta        General Currency Conversion      INR    2,635.27
33  Asia/Calcutta          User Initiated Withdrawal      INR  -10,047.73
34  Asia/Calcutta        General Currency Conversion      INR   10,047.73
35  Asia/Calcutta          User Initiated Withdrawal      INR   -2,851.24
36  Asia/Calcutta        General Currency Conversion      INR    2,851.24
37  Asia/Calcutta          User Initiated Withdrawal      INR   -4,826.43
38  Asia/Calcutta        General Currency Conversion      INR    4,826.43
39  Asia/Calcutta          User Initiated Withdrawal      INR   -1,886.02
40  Asia/Calcutta        General Currency Conversion      INR    1,886.02
41  Asia/Calcutta          User Initiated Withdrawal      INR   -3,159.87
42  Asia/Calcutta        General Currency Conversion      INR    3,159.87
43            NaN                                NaN      NaN         NaN

     Fee   GST  Total fee         Net  Fee (INR)  GST (INR)  Total fee (INR)  \
0  -1.37 -0.25      -1.62       22.74    -114.31     -20.58          -134.89
1  -1.86 -0.34      -2.20       33.33    -155.24     -27.94          -183.18
2   0.00  0.00       0.00      -56.07    -139.71     -25.15          -164.86
3  -1.66 -0.30      -1.96       28.95    -138.30     -24.89          -163.19
4   0.00  0.00       0.00      -28.95     -72.68     -13.08           -85.76
5  -1.84 -0.33      -2.17       32.85    -153.25     -27.58          -180.83
6   0.00  0.00       0.00      -32.85     -82.63     -14.87           -97.50
7  -1.51 -0.27      -1.78       25.67    -125.60     -22.61          -148.21
8   0.00  0.00       0.00      -25.67     -64.21     -11.56           -75.77
9  -1.84 -0.33      -2.17       32.82    -153.25     -27.58          -180.83
10  0.00  0.00       0.00      -32.82     -81.92     -14.75           -96.67
11 -1.72 -0.31      -2.03       30.18    -143.36     -25.81          -169.17
12 -4.72 -0.85      -5.57       94.84    -393.36     -70.81          -464.17
13  0.00  0.00       0.00     -125.02    -313.11     -56.36          -369.47
14 -1.96 -0.35      -2.31       35.49    -163.27     -29.39          -192.66
15  0.00  0.00       0.00      -35.49     -88.35     -15.90          -104.25
16 -1.57 -0.28      -1.85       26.98    -130.76     -23.54          -154.30
17 -1.85 -0.33      -2.18       33.10    -154.08     -27.73          -181.81
18  0.00  0.00       0.00      -60.08    -149.84     -26.97          -176.81
19 -1.41 -0.25      -1.66       23.49    -117.33     -21.12          -138.45
20  0.00  0.00       0.00      -23.49     -58.62     -10.55           -69.17
21 -2.14 -0.39      -2.53       39.33    -178.67     -32.16          -210.83
22  0.00  0.00       0.00      -39.33     -98.16     -17.67          -115.83
23  0.00  0.00       0.00   -4,498.07       0.00       0.00             0.00
24  0.00  0.00       0.00    4,498.07       0.00       0.00             0.00
25  0.00  0.00       0.00   -2,320.85       0.00       0.00             0.00
26  0.00  0.00       0.00    2,320.85       0.00       0.00             0.00
27  0.00  0.00       0.00   -2,626.55       0.00       0.00             0.00
28  0.00  0.00       0.00    2,626.55       0.00       0.00             0.00
29  0.00  0.00       0.00   -2,058.90       0.00       0.00             0.00
30  0.00  0.00       0.00    2,058.90       0.00       0.00             0.00
31  0.00  0.00       0.00   -2,635.27       0.00       0.00             0.00
32  0.00  0.00       0.00    2,635.27       0.00       0.00             0.00
33  0.00  0.00       0.00  -10,047.73       0.00       0.00             0.00
34  0.00  0.00       0.00   10,047.73       0.00       0.00             0.00
35  0.00  0.00       0.00   -2,851.24       0.00       0.00             0.00
36  0.00  0.00       0.00    2,851.24       0.00       0.00             0.00
37  0.00  0.00       0.00   -4,826.43       0.00       0.00             0.00
38  0.00  0.00       0.00    4,826.43       0.00       0.00             0.00
39  0.00  0.00       0.00   -1,886.02       0.00       0.00             0.00
40  0.00  0.00       0.00    1,886.02       0.00       0.00             0.00
41  0.00  0.00       0.00   -3,159.87       0.00       0.00             0.00
42  0.00  0.00       0.00    3,159.87       0.00       0.00             0.00
43   NaN   NaN        NaN         NaN        NaN        NaN              NaN

             Invoice ID     Transaction ID
0   24754515_3071030238  2S956583DV224043G
1   24754515_3071063048  37P814528G3398251
2                   NaN  61L809064N0458606
3   24754515_3071761808  7UG63568XG944102X
4                   NaN  7LL46262GK7564003
5   24754515_3088038812  5LG82048X78851456
6                   NaN  0RD29863HT908115J
7   24754515_3086505055  1S728348S8498804U
8                   NaN  7X323890TN056605M
9   24754515_3093229205  189940368R066503K
10                  NaN  8RD176767F0550402
11  24754515_3096131473  5KR9221360774824L
12  24754515_3105349764  59D280021L223262D
13                  NaN  9V2092865G581083L
14  24754515_3110568632  0HX483933B316903F
15                  NaN  6T422402XP279615F
16  24754515_3104793839  4XA50093BT064532U
17  24754515_3113764664  5SC05654AG728054G
18                  NaN  16J26490KC0333339
19  24754515_3106454853  60595170G9617661V
20                  NaN  3HB180711B783550K
21  24754515_3117721020  4GG79577BV6908803
22                  NaN  38625660MA039454F
23                  NaN  1EF087159R094632E
24                  NaN  44K85065AT230301R
25                  NaN  41T12420G7592281R
26                  NaN  9P3951794Y6411017
27                  NaN  6VC6427511613420P
28                  NaN  64A814773M8665122
29                  NaN  34094176HE194071N
30                  NaN  04886497VX318622M
31                  NaN  4C627507SF5908458
32                  NaN  5N640082AE580591R
33                  NaN  860617134B3582248
34                  NaN  0C22402178609344U
35                  NaN  63L085110G5355840
36                  NaN  8DJ30831KE3799431
37                  NaN  9XK88772B3179891A
38                  NaN  75G60842N42431445
39                  NaN  9JT96316WD232513L
40                  NaN  9UV78904HH7877226
41                  NaN  5CG9625411896254G
42                  NaN  144390142T352540T
43                  NaN                NaN

In [8]:
data.loc [(data["Net"] ==33.33 ), "getsbonus"] = "no"

In [13]:
datas = {"month":["January","February","March","April","May"]}
a = pd.DataFrame(datas)
print(a)

def extract(value):
    return value[0:3]

a["Short_months"]= a["month"].map(extract)
print(a)

      month
0   January
1  February
2     March
3     April
4       May
      month Short_months
0   January          Jan
1  February          Feb
2     March          Mar
3     April          Apr
4       May          May