In [1]:
import pandas as pd

In [7]:
data = {"Name":["Hohn", "lisa", "maz"],
       "Age": [23,45,34],
       "Salary": [30000,34909,7663]}
df = pd.DataFrame(data)
print(df)

In [3]:
data = pd.read_csv("D:/Downloads/Feb gst.CSV")
print(data)

          Date      Time Time zone                   Name  \
0   01/02/2024  10:59:14       IST                    NaN
1   01/02/2024  10:59:14       IST                    NaN
2   01/02/2024  10:59:14       IST                    NaN
3   02/02/2024  00:54:26       IST           Steven Mixer
4   03/02/2024  04:08:28       IST                    NaN
..         ...       ...       ...                    ...
57  28/02/2024  05:45:47       IST             Jeanie Lau
58  28/02/2024  12:36:27       IST  Alessandra Cantarella
59  29/02/2024  05:43:51       IST                    NaN
60  29/02/2024  05:43:51       IST                    NaN
61  29/02/2024  05:43:51       IST                    NaN

                           Type     Status Currency      Gross   Fee  \
0     User Initiated Withdrawal  Completed      INR  -4,302.52  0.00
1   General Currency Conversion  Completed      USD     -53.75  0.00
2   General Currency Conversion  Completed      INR   4,302.52  0.00
3      Express Checkout Payment  Completed      USD      51.68 -3.03
4     User Initiated Withdrawal  Completed      INR  -3,890.94  0.00
..                          ...        ...      ...        ...   ...
57     Express Checkout Payment  Completed      USD      25.53 -1.68
58     Express Checkout Payment  Completed      USD      28.18 -1.82
59    User Initiated Withdrawal  Completed      INR  -4,013.03  0.00
60  General Currency Conversion  Completed      USD     -50.21  0.00
61  General Currency Conversion  Completed      INR   4,013.03  0.00

          Net  ... Address Line 2/District/Neighbourhood         Town/City  \
0   -4,302.52  ...                                   NaN               NaN
1      -53.75  ...                                   NaN               NaN
2    4,302.52  ...                                   NaN               NaN
3       48.65  ...                                   NaN           Satsuma
4   -3,890.94  ...                                   NaN               NaN
..        ...  ...                                   ...               ...
57      23.85  ...                                   NaN       SIMI VALLEY
58      26.36  ...                                   NaN  Noventa Padovana
59  -4,013.03  ...                                   NaN               NaN
60     -50.21  ...                                   NaN               NaN
61   4,013.03  ...                                   NaN               NaN

    County Postcode        Country Contact Phone Number  \
0      NaN      NaN            NaN                  NaN
1      NaN      NaN            NaN                  NaN
2      NaN      NaN            NaN                  NaN
3       FL    32189  United States         9.046365e+09
4      NaN      NaN            NaN                  NaN
..     ...      ...            ...                  ...
57      CA    93065  United States         8.058072e+09
58  Padova    35027          Italy         3.275438e+09
59     NaN      NaN            NaN                  NaN
60     NaN      NaN            NaN                  NaN
61     NaN      NaN            NaN                  NaN

                                              Subject  Note  Country Code  \
0                                               P0101   NaN           NaN
1                                                 NaN   NaN           NaN
2                                                 NaN   NaN           NaN
3   Natural Amethyst earrings / Dangle Drop Earrin...   NaN            US
4                                               P0101   NaN           NaN
..                                                ...   ...           ...
57  Natural Moonstone Ring For Women With Cut Ston...   NaN            US
58  Anello di perle d&#39;acqua dolce in argento s...   NaN            IT
59                                              P0101   NaN           NaN
60                                                NaN   NaN           NaN
61                                                NaN   NaN           NaN

    Balance Impact
0            Debit
1            Debit
2           Credit
3           Credit
4            Debit
..             ...
57          Credit
58          Credit
59           Debit
60           Debit
61          Credit

[62 rows x 41 columns]

In [8]:
# Exploring Data in pandas
data = pd.read_csv("D:/Downloads/Feb gst.CSV")
print(data)
print(data.head(10))

In [5]:
data = pd.read_csv("D:/Downloads/Feb gst.CSV")
print(data)
print(data.head(10))
print(data.tail(10)) #using Tail

          Date      Time Time zone                   Name  \
0   01/02/2024  10:59:14       IST                    NaN
1   01/02/2024  10:59:14       IST                    NaN
2   01/02/2024  10:59:14       IST                    NaN
3   02/02/2024  00:54:26       IST           Steven Mixer
4   03/02/2024  04:08:28       IST                    NaN
..         ...       ...       ...                    ...
57  28/02/2024  05:45:47       IST             Jeanie Lau
58  28/02/2024  12:36:27       IST  Alessandra Cantarella
59  29/02/2024  05:43:51       IST                    NaN
60  29/02/2024  05:43:51       IST                    NaN
61  29/02/2024  05:43:51       IST                    NaN

                           Type     Status Currency      Gross   Fee  \
0     User Initiated Withdrawal  Completed      INR  -4,302.52  0.00
1   General Currency Conversion  Completed      USD     -53.75  0.00
2   General Currency Conversion  Completed      INR   4,302.52  0.00
3      Express Checkout Payment  Completed      USD      51.68 -3.03
4     User Initiated Withdrawal  Completed      INR  -3,890.94  0.00
..                          ...        ...      ...        ...   ...
57     Express Checkout Payment  Completed      USD      25.53 -1.68
58     Express Checkout Payment  Completed      USD      28.18 -1.82
59    User Initiated Withdrawal  Completed      INR  -4,013.03  0.00
60  General Currency Conversion  Completed      USD     -50.21  0.00
61  General Currency Conversion  Completed      INR   4,013.03  0.00

          Net  ... Address Line 2/District/Neighbourhood         Town/City  \
0   -4,302.52  ...                                   NaN               NaN
1      -53.75  ...                                   NaN               NaN
2    4,302.52  ...                                   NaN               NaN
3       48.65  ...                                   NaN           Satsuma
4   -3,890.94  ...                                   NaN               NaN
..        ...  ...                                   ...               ...
57      23.85  ...                                   NaN       SIMI VALLEY
58      26.36  ...                                   NaN  Noventa Padovana
59  -4,013.03  ...                                   NaN               NaN
60     -50.21  ...                                   NaN               NaN
61   4,013.03  ...                                   NaN               NaN

    County Postcode        Country Contact Phone Number  \
0      NaN      NaN            NaN                  NaN
1      NaN      NaN            NaN                  NaN
2      NaN      NaN            NaN                  NaN
3       FL    32189  United States         9.046365e+09
4      NaN      NaN            NaN                  NaN
..     ...      ...            ...                  ...
57      CA    93065  United States         8.058072e+09
58  Padova    35027          Italy         3.275438e+09
59     NaN      NaN            NaN                  NaN
60     NaN      NaN            NaN                  NaN
61     NaN      NaN            NaN                  NaN

                                              Subject  Note  Country Code  \
0                                               P0101   NaN           NaN
1                                                 NaN   NaN           NaN
2                                                 NaN   NaN           NaN
3   Natural Amethyst earrings / Dangle Drop Earrin...   NaN            US
4                                               P0101   NaN           NaN
..                                                ...   ...           ...
57  Natural Moonstone Ring For Women With Cut Ston...   NaN            US
58  Anello di perle d&#39;acqua dolce in argento s...   NaN            IT
59                                              P0101   NaN           NaN
60                                                NaN   NaN           NaN
61                                                NaN   NaN           NaN

    Balance Impact
0            Debit
1            Debit
2           Credit
3           Credit
4            Debit
..             ...
57          Credit
58          Credit
59           Debit
60           Debit
61          Credit

[62 rows x 41 columns]
         Date      Time Time zone               Name  \
0  01/02/2024  10:59:14       IST                NaN
1  01/02/2024  10:59:14       IST                NaN
2  01/02/2024  10:59:14       IST                NaN
3  02/02/2024  00:54:26       IST       Steven Mixer
4  03/02/2024  04:08:28       IST                NaN
5  03/02/2024  04:08:28       IST                NaN
6  03/02/2024  04:08:28       IST                NaN
7  04/02/2024  09:32:56       IST       Jonugo, Inc.
8  04/02/2024  16:38:22       IST  Barbara Jongerius
9  05/02/2024  04:33:17       IST                NaN

                          Type     Status Currency      Gross   Fee  \
0    User Initiated Withdrawal  Completed      INR  -4,302.52  0.00
1  General Currency Conversion  Completed      USD     -53.75  0.00
2  General Currency Conversion  Completed      INR   4,302.52  0.00
3     Express Checkout Payment  Completed      USD      51.68 -3.03
4    User Initiated Withdrawal  Completed      INR  -3,890.94  0.00
5  General Currency Conversion  Completed      USD     -48.65  0.00
6  General Currency Conversion  Completed      INR   3,890.94  0.00
7     Express Checkout Payment  Completed      USD      30.43 -1.94
8              General Payment  Completed      USD      41.07 -2.49
9    User Initiated Withdrawal  Completed      INR  -5,358.37  0.00

         Net  ... Address Line 2/District/Neighbourhood     Town/City County  \
0  -4,302.52  ...                                   NaN           NaN    NaN
1     -53.75  ...                                   NaN           NaN    NaN
2   4,302.52  ...                                   NaN           NaN    NaN
3      48.65  ...                                   NaN       Satsuma     FL
4  -3,890.94  ...                                   NaN           NaN    NaN
5     -48.65  ...                                   NaN           NaN    NaN
6   3,890.94  ...                                   NaN           NaN    NaN
7      28.49  ...                                   NaN  Mount Pocono     PA
8      38.58  ...                                   NaN      Hoogland    NaN
9  -5,358.37  ...                                   NaN           NaN    NaN

  Postcode        Country Contact Phone Number  \
0      NaN            NaN                  NaN
1      NaN            NaN                  NaN
2      NaN            NaN                  NaN
3    32189  United States         9.046365e+09
4      NaN            NaN                  NaN
5      NaN            NaN                  NaN
6      NaN            NaN                  NaN
7    18344  United States         5.709827e+09
8   3828RC    Netherlands         6.423602e+08
9      NaN            NaN                  NaN

                                             Subject  Note  Country Code  \
0                                              P0101   NaN           NaN
1                                                NaN   NaN           NaN
2                                                NaN   NaN           NaN
3  Natural Amethyst earrings / Dangle Drop Earrin...   NaN            US
4                                              P0101   NaN           NaN
5                                                NaN   NaN           NaN
6                                                NaN   NaN           NaN
7  Natural  FreshWater  Pearl Ring  For Women ,Da...   NaN            US
8                                                NaN   NaN            NL
9                                              P0101   NaN           NaN

   Balance Impact
0           Debit
1           Debit
2          Credit
3          Credit
4           Debit
5           Debit
6          Credit
7          Credit
8          Credit
9           Debit

[10 rows x 41 columns]
          Date      Time Time zone                   Name  \
52  26/02/2024  05:34:30       IST                    NaN
53  26/02/2024  19:15:23       IST            Marc Brunel
54  27/02/2024  04:22:46       IST                    NaN
55  27/02/2024  04:22:46       IST                    NaN
56  27/02/2024  04:22:46       IST                    NaN
57  28/02/2024  05:45:47       IST             Jeanie Lau
58  28/02/2024  12:36:27       IST  Alessandra Cantarella
59  29/02/2024  05:43:51       IST                    NaN
60  29/02/2024  05:43:51       IST                    NaN
61  29/02/2024  05:43:51       IST                    NaN

                           Type     Status Currency      Gross   Fee  \
52  General Currency Conversion  Completed      INR   2,106.56  0.00
53     Express Checkout Payment  Completed      USD      49.56 -2.93
54    User Initiated Withdrawal  Completed      INR  -3,726.02  0.00
55  General Currency Conversion  Completed      USD     -46.63  0.00
56  General Currency Conversion  Completed      INR   3,726.02  0.00
57     Express Checkout Payment  Completed      USD      25.53 -1.68
58     Express Checkout Payment  Completed      USD      28.18 -1.82
59    User Initiated Withdrawal  Completed      INR  -4,013.03  0.00
60  General Currency Conversion  Completed      USD     -50.21  0.00
61  General Currency Conversion  Completed      INR   4,013.03  0.00

          Net  ... Address Line 2/District/Neighbourhood         Town/City  \
52   2,106.56  ...                                   NaN               NaN
53      46.63  ...                                   NaN          Toulouse
54  -3,726.02  ...                                   NaN               NaN
55     -46.63  ...                                   NaN               NaN
56   3,726.02  ...                                   NaN               NaN
57      23.85  ...                                   NaN       SIMI VALLEY
58      26.36  ...                                   NaN  Noventa Padovana
59  -4,013.03  ...                                   NaN               NaN
60     -50.21  ...                                   NaN               NaN
61   4,013.03  ...                                   NaN               NaN

    County Postcode        Country Contact Phone Number  \
52     NaN      NaN            NaN                  NaN
53     NaN    31000         France         6.861502e+08
54     NaN      NaN            NaN                  NaN
55     NaN      NaN            NaN                  NaN
56     NaN      NaN            NaN                  NaN
57      CA    93065  United States         8.058072e+09
58  Padova    35027          Italy         3.275438e+09
59     NaN      NaN            NaN                  NaN
60     NaN      NaN            NaN                  NaN
61     NaN      NaN            NaN                  NaN

                                              Subject  Note  Country Code  \
52                                                NaN   NaN           NaN
53  Bague pour hommes en argent sterling, bague po...   NaN            FR
54                                              P0101   NaN           NaN
55                                                NaN   NaN           NaN
56                                                NaN   NaN           NaN
57  Natural Moonstone Ring For Women With Cut Ston...   NaN            US
58  Anello di perle d&#39;acqua dolce in argento s...   NaN            IT
59                                              P0101   NaN           NaN
60                                                NaN   NaN           NaN
61                                                NaN   NaN           NaN

    Balance Impact
52          Credit
53          Credit
54           Debit
55           Debit
56          Credit
57          Credit
58          Credit
59           Debit
60           Debit
61          Credit

[10 rows x 41 columns]

In [9]:
#How to get information and data type of data
print(data.info)

In [7]:
data.describe() #Give overall discribtion

,Fee,Item ID,Postage and Packaging Amount,Insurance Amount,VAT,Option 1 Name,Option 1 Value,Option 2 Name,Option 2 Value,Custom Number,Quantity,Receipt ID,Contact Phone Number,Note
count,62.000000,1.600000e+01,16.0,0.0,16.000000,0.0,0.0,0.0,0.0,0.0,16.0,0.0,1.700000e+01,0.0
mean,-0.651774,1.192833e+09,0.0,NaN,4.294375,NaN,NaN,NaN,NaN,NaN,2.0,NaN,4.387269e+09,NaN
std,1.102194,2.178434e+08,0.0,NaN,2.552134,NaN,NaN,NaN,NaN,NaN,0.0,NaN,3.987838e+09,NaN
min,-3.110000,9.095981e+08,0.0,NaN,1.580000,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2.513908e+07,NaN
25%,-1.762500,1.063699e+09,0.0,NaN,2.565000,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2.065660e+09,NaN
50%,0.000000,1.143371e+09,0.0,NaN,3.470000,NaN,NaN,NaN,NaN,NaN,2.0,NaN,3.275438e+09,NaN
75%,0.000000,1.200359e+09,0.0,NaN,5.272500,NaN,NaN,NaN,NaN,NaN,2.0,NaN,6.073738e+09,NaN
max,0.000000,1.604803e+09,0.0,NaN,10.330000,NaN,NaN,NaN,NaN,NaN,2.0,NaN,1.515887e+10,NaN

In [8]:
#how to see null value
print (data.isnull())

     Date   Time  Time zone   Name   Type  Status  Currency  Gross    Fee  \
0   False  False      False   True  False   False     False  False  False
1   False  False      False   True  False   False     False  False  False
2   False  False      False   True  False   False     False  False  False
3   False  False      False  False  False   False     False  False  False
4   False  False      False   True  False   False     False  False  False
..    ...    ...        ...    ...    ...     ...       ...    ...    ...
57  False  False      False  False  False   False     False  False  False
58  False  False      False  False  False   False     False  False  False
59  False  False      False   True  False   False     False  False  False
60  False  False      False   True  False   False     False  False  False
61  False  False      False   True  False   False     False  False  False

      Net  ...  Address Line 2/District/Neighbourhood  Town/City  County  \
0   False  ...                                   True       True    True
1   False  ...                                   True       True    True
2   False  ...                                   True       True    True
3   False  ...                                   True      False   False
4   False  ...                                   True       True    True
..    ...  ...                                    ...        ...     ...
57  False  ...                                   True      False   False
58  False  ...                                   True      False   False
59  False  ...                                   True       True    True
60  False  ...                                   True       True    True
61  False  ...                                   True       True    True

    Postcode  Country  Contact Phone Number  Subject  Note  Country Code  \
0       True     True                  True    False  True          True
1       True     True                  True     True  True          True
2       True     True                  True     True  True          True
3      False    False                 False    False  True         False
4       True     True                  True    False  True          True
..       ...      ...                   ...      ...   ...           ...
57     False    False                 False    False  True         False
58     False    False                 False    False  True         False
59      True     True                  True    False  True          True
60      True     True                  True     True  True          True
61      True     True                  True     True  True          True

    Balance Impact
0            False
1            False
2            False
3            False
4            False
..             ...
57           False
58           False
59           False
60           False
61           False

[62 rows x 41 columns]

In [11]:
print (data.isnull().sum()) #show null value column wise